---
import Header from '../components/Header.astro';
import '../styles/tailwind.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
  </head>
  <body class="bg-gray-100 text-gray-900">

    <Header />

>
    <main class="min-h-screen bg-gray-100 flex flex-col items-center p-4 mt-8">

      <h1 class="text-3xl font-bold mb-4 text-center">Contacto</h1>


      <p class="text-center text-lg mb-8 max-w-md">
        Si necesitas contactarme por algún motivo, aquí tienes mi WhatsApp, mi email, y mi LinkedIn. Estaré encantado de ayudarte.
      </p>
      

      <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
        <ul class="space-y-6">

          <li class="flex items-center space-x-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M20.167 13.252c.001.11-.025.219-.074.32-.139.29-5.374 9.564-12.415 9.564C3.397 23.136 2 21.66 2 20.002v-1.328c.009-3.25 4.674-5.88 5.34-6.312a1.595 1.595 0 00.58-2.194l-.41-.732a2.597 2.597 0 011.206-3.538c.96-.435 5.62-1.527 6.32-1.523a2.596 2.596 0 012.538 1.785c.335.946 2.302 5.628 2.31 5.944z" />
            </svg>
            <a href="https://api.whatsapp.com/send?phone=5491125078631" class="text-green-500 hover:underline  text-lg">+54 9 11 2507-8631</a>
          </li>

          <li class="flex items-center space-x-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16 8a6 6 0 016 6v5a1 1 0 01-1 1h-4a1 1 0 01-1-1v-4a2 2 0 10-4 0v4a1 1 0 01-1 1h-4a1 1 0 01-1-1v-5a6 6 0 016-6z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M2 9h4v12H2zM4 4a2 2 0 100 4 2 2 0 000-4z" />
            </svg>
            <a href="https://www.linkedin.com/in/luis-sanchez-82508719a" target="_blank" class="text-blue-600 hover:underline text-lg">LinkedIn</a>
          </li>


          <li class="flex items-center space-x-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 9.5v5a.5.5 0 01-.5.5h-8a.5.5 0 01-.5-.5v-5m9-2.293L12 12.5l-4.5-3.293M21 12.5v5a2.5 2.5 0 01-2.5 2.5h-13A2.5 2.5 0 013 17.5v-5A2.5 2.5 0 015.5 10h13A2.5 2.5 0 0121 12.5z" />
            </svg>
            <a href="mailto:sanchezalexis978@gmail.com" class="text-red-500 hover:underline text-lg">sanchezalexis978@gmail.com</a>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
